.height-1{
	height: 70px;
}

.nav-1{
	margin: 0 10%;
}

.nav-1 li{
	padding: 0;
}

.nav-1 a{
	width: 100%;
	text-align: center;
}

ul a {
	font-family: Georgia, serif;
	font-size: 1.7rem;

}


.div-1{
	display: inline-block; 
	text-align: center;
	float: left;
}

.sub-btn{
	width: 50%;
	color: blue;
	font-family: Georgia, serif;
	font-size: 20px !important;
	background-color: #FAEBD7;
}